.custom-slider .carousel-initialized {
  position: static;
}

.custom-slider .carousel-prev,
.custom-slider .carousel-next {
  width: 50px;
  height: 50px;
  background-color: #f5f4ee;
  color: #1c1c14;
  border: 1px solid #1c1c14;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.custom-slider .carousel-prev {
  left: -25px;
}
.custom-slider .carousel-next {
  right: -25px;
}
